/* CSS file */
body, html {
    height: 100%;
    margin: 0;
}

header {
    text-align: center; /* Center align the content */
}

.header-content {
    display: flex; /* Use flexbox for layout */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.header-content h1 {
    margin: 0 10px; /* Add some spacing between elements */
    font-size: 50px;
}
.header-content p {
    margin: 0 10px;
    font-size: 25px;
}

.container_split {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half {
    margin-top: 20px;
    flex: 1;
    text-align: center; /* Center align the text within the halves */
    border: solid;
}

.container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross_container {
    position: absolute;
}

.vertical_line {
    width: 0px;
    height: 50%;
    border: solid;
    background-color: green;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header-content h1, .header-content p {
    margin: 0 10px; /* Add some spacing between elements */
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-list li {
    margin-right: 50px; /* Add margin between navbar items */
    margin-left: 50px;
    font-size: 30px;
}

.paragraph {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 20px 0;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 0;
}
